.headerWrapper {
  height: 5rem;
  margin-top: -1rem;
  display: flex;
  align-items: center;
}

.header {
  background-color: darkgray;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  display: flex;
  justify-content: space-evenly;
  &__teams {
  }

  &__standings {
  }
}
