.standingsHeaderWrapper {
  display: flex;
  justify-content: center;
}

.standingsHeader {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
  width: 100%;
}

.mat-column-win,
.mat-column-loss,
.mat-column-draw,
.mat-column-pa,
.mat-column-pf {
  width: 13%;
}
