.teamsHeaderWrapper {
  display: flex;
  justify-content: center;
}

.teamsHeader {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-container {
  border-radius: 10px;
  height: 22rem;
  width: 15rem;

  .team {
    display: flex;
    justify-content: center;
  }

  #team-img {
    height: 60%;
    width: 100%;
  }
}

.cards-wrapper-1,
.cards-wrapper-2,
.cards-wrapper-3 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
